---
- name: установка и настройка Nginx
  hosts: all
  become: yes
  tasks:
    - name: Update apt cache
      apt:
        update_cache: yes
        cache_valid_time: 3600

    - name: устанавливает на ВМ пакеты wget, htop , nginx и запускать Nginx-сервер;
      apt:
        name:
          - wget
          - htop
          - nginx
        state: present
        update_cache: yes

    - name: запуск и включение nginx
      systemd:
        name: nginx
        state: started
        enabled: yes

    - name: выводит информацию о том, в каком окружении находится конфигурируемый хост ("This host is in … environment") с помощью модуля debug
      debug:
        msg: "этот хост находится в окружении {{ env_name }}"
